/* 모든 요소의 기본 여백 제거 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML과 Body의 기본 설정 */
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  border: 1px solid #000;
  width: 600px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  gap: 16px;
}

.window-control-buttons {
  width: 80px;
  height: 4%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-bottom: -12px;
}
.wc-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#close-btn {
  background-color: red;
}
#minimize-btn {
  background-color: orange;
}
#modify-btn {
  background-color: green;
}

/* display */
.display {
  border: 1px solid #000;
  width: 90%;
  height: 20%;
  padding: 24px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  white-space: nowrap;
}

/* buttons */
.buttons {
  border: 1px solid #fff !important;
  width: 90%;
  height: 70%;

  display: flex;
  flex-wrap: wrap;
}
.button {
  display: flex;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 2rem;
}
.button:hover {
  background-color: #ccc;
}
.button:active {
  background-color: aqua;
}
.zero {
  flex-basis: 50%;
}
